In [1]:
import pandas as pd
fruits ={"banana":3,"orange":2}
print(pd.Series(fruits))

banana    3
orange    2
dtype: int64

In [5]:
fruits = {"banana":3, "orange":4, "grape":1, "peach":5}
series = pd.Series(fruits)
print(series[0:2])
print(series["orange":"peach"])

banana    3
orange    4
dtype: int64
orange    4
grape     1
peach     5
dtype: int64

In [6]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]

series = pd.Series(data, index=index)

series_value = series.values

series_index = series.index

print(series_value)
print(series_index)

[10  5  8 12  3]
Index(['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], dtype='object')

In [7]:
series = series.append(pd.Series({"pineapple":12}))
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
pineapple     12
dtype: int64

C:\Users\나\AppData\Local\Temp\ipykernel_47240\3284255168.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series = series.append(pd.Series({"pineapple":12}))

In [8]:
series = series.drop("strawberry")
print(series)

apple        10
orange        5
banana        8
kiwifruit     3
pineapple    12
dtype: int64

In [9]:
conditions = [True, True, False, False, False]
print(series[conditions])

apple     10
orange     5
dtype: int64

In [11]:
item1 = series.sort_index()
item2 = series.sort_values()

print(item1)
print(item2)

apple        10
banana        8
kiwifruit     3
orange        5
pineapple    12
dtype: int64
kiwifruit     3
orange        5
banana        8
apple        10
pineapple    12
dtype: int64

In [12]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
       "year":[2001,2002,2001,2008,2006],
       "time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [13]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

df = pd.DataFrame([series1, series2])
print(df)

   apple  orange  banana  strawberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

In [15]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
       "year":[2001,2002,2001,2008,2006],
       "time":[1,4,5,6,3]}
df = pd.DataFrame(data)

series = pd.Series(["mango",2008,7],index=["fruits","year","time"])
df = df.append(series, ignore_index=True)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
5       mango  2008     7

C:\Users\나\AppData\Local\Temp\ipykernel_47240\1467580988.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(series, ignore_index=True)

In [17]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]
data3 = [30, 12, 10,8,25,3]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

index.append("pineapple")
series3 = pd.Series(data3, index=index)
df = pd.DataFrame([series1],[series2])

df = df.append(series3, ignore_index=True)
print(df)

   apple  orange  banana  strawberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     10       5       8          12          3        NaN
2     10       5       8          12          3        NaN
3     10       5       8          12          3        NaN
4     10       5       8          12          3        NaN
5     30      12      10           8         25        3.0

C:\Users\나\AppData\Local\Temp\ipykernel_47240\883352716.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(series3, ignore_index=True)

In [19]:
new_column = pd.Series([15,7],index=[0,1])

df["mango"] = new_column
print(df)

   apple  orange  banana  strawberry  kiwifruit  pineapple  mango
0     10       5       8          12          3        NaN   15.0
1     10       5       8          12          3        NaN    7.0
2     10       5       8          12          3        NaN    NaN
3     10       5       8          12          3        NaN    NaN
4     10       5       8          12          3        NaN    NaN
5     30      12      10           8         25        3.0    NaN

In [21]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
       "year":[2001,2002,2001,2008,2006],
       "time":[1,4,5,6,3]}
df = pd.DataFrame(data)

print(df)

df = df.loc[[1,2],["time","year"]]
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
   time  year
1     4  2002
2     5  2001

In [24]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
       "year":[2001,2002,2001,2008,2006],
       "time":[1,4,5,6,3]}
df = pd.DataFrame(data)

print(df)

df = df.iloc[[1,3],[0,2]]
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
       fruits  time
1      orange     4
3  strawberry     6

In [27]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
       "year":[2001,2002,2001,2008,2006],
       "time":[1,4,5,6,3]}
df = pd.DataFrame(data)

print(df)
print()

df_1 = df.drop(range(0,2))

print(df_1)
print()

df_2 = df.drop("year",axis=1)
print(df_2)
print()

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  year  time
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  time
0       apple     1
1      orange     4
2      banana     5
3  strawberry     6
4   kiwifruit     3

In [28]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
       "year":[2001,2002,2001,2008,2006],
       "time":[1,4,5,6,3]}
df = pd.DataFrame(data)

print(df)
print()

df = df.sort_values(by="year", ascending=True)
print(df)
print()

df= df.sort_values(by=["time","year"],ascending=True)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  year  time
0       apple  2001     1
2      banana  2001     5
1      orange  2002     4
4   kiwifruit  2006     3
3  strawberry  2008     6

       fruits  year  time
0       apple  2001     1
4   kiwifruit  2006     3
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6

In [29]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
       "year":[2001,2002,2001,2008,2006],
       "time":[1,4,5,6,3]}
df = pd.DataFrame(data)

print(df)
print()

print(df.index %2 == 0)
print()
print(df[df.index%2 == 0])

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

[ True False  True False  True]

      fruits  year  time
0      apple  2001     1
2     banana  2001     5
4  kiwifruit  2006     3

In [30]:
index = ["apple","orange","banana","strawbverry","kiwi"]
data = [10,5,8,12,3]
series = pd.Series(data,index=index)
#5이상 10미만 데이터 추출
series = series[series>= 5 ][series<10]
print(series)

orange    5
banana    8
dtype: int64