#### 참고 : tensorflow.keras 공식 문서 (Official API Docs) @ https://www.tensorflow.org/api_docs/python/tf/keras

<br>

## 1. Data loading & preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
titanic_df = pd.read_csv("../Blank file & Answer files/titanic.csv")
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
del titanic_df['Cabin'] # 너무 많은 결측치가 존재
del titanic_df['PassengerId'] # Passenger 번호는 큰 의미를 갖고있지 않은 일련번호
del titanic_df['Ticket'] # ticket 번호에서 패턴이 확인되지 않음


titanic_df['Title'] = titanic_df['Name'].str.extract('([A-Za-z]+)\.', expand=False)
del titanic_df['Name'] # 호칭만 남김

rare_title = []
for title in set(titanic_df['Title']):
    if list(titanic_df['Title']).count(title) < 10:
        rare_title.append(title)

titanic_df['Title'] = titanic_df['Title'].replace('Mlle', 'Miss') # Mademoiselle
titanic_df['Title'] = titanic_df['Title'].replace('Ms', 'Miss') 
titanic_df['Title'] = titanic_df['Title'].replace('Mme', 'Mrs') # Madame
titanic_df['Title'] = titanic_df['Title'].replace(rare_title, 'Rare')

title_mapping = {"Master":1, "Miss":2, "Mr":3, "Mrs":4, "Rare":5 }
titanic_df['Title'] = titanic_df['Title'].map(title_mapping)
titanic_df['Title'] = titanic_df['Title'].fillna(0)
titanic_df['Title'].astype(int)


sex_mapping = {"male": 0 , "female":1} 
titanic_df['Sex'] = titanic_df['Sex'].map(sex_mapping)


titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
mapping_data ={"S":0, "Q":1, "C":2}
titanic_df["Embarked"] = titanic_df["Embarked"].map(mapping_data)


titanic_df.loc[ titanic_df['Fare'] <= 102, 'Fare'] = 0
titanic_df.loc[(titanic_df['Fare'] > 102) & (titanic_df['Fare'] <= 204), 'Fare'] = 1
titanic_df.loc[(titanic_df['Fare'] > 204) & (titanic_df['Fare'] <= 307), 'Fare'] = 2
titanic_df.loc[ titanic_df['Fare'] > 307, 'Fare'] = 4


titanic_df["FamilySize"] = titanic_df["SibSp"] + titanic_df["Parch"] +1
del titanic_df['SibSp']
del titanic_df['Parch']

titanic_df['isAlone'] = 0
titanic_df.loc[titanic_df['FamilySize'] == 1, 'isAlone'] = 1

family_mapping = {1: 0, 2: 0.4, 3: 0.8, 4: 1.2, 5: 1.6, 6: 2, 7: 2.4, 8: 2.8, 9: 3.2, 10: 3.6, 11: 4}
titanic_df['FamilySize'] = titanic_df['FamilySize'].map(family_mapping)


titanic_df["Age"].fillna(titanic_df.groupby("Title")["Age"].transform("median"), inplace=True)

titanic_df.loc[ titanic_df['Age'] <= 16, 'Age'] = 0
titanic_df.loc[(titanic_df['Age'] > 16) & (titanic_df['Age'] <= 32), 'Age'] = 1
titanic_df.loc[(titanic_df['Age'] > 32) & (titanic_df['Age'] <= 48), 'Age'] = 2
titanic_df.loc[(titanic_df['Age'] > 48) & (titanic_df['Age'] <= 64), 'Age'] = 3
titanic_df.loc[ titanic_df['Age'] > 64, 'Age'] = 4

titanic_df.head(3)

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  FamilySize  isAlone
0         0       3    0  1.0   0.0         0      3         0.4        0
1         1       1    1  2.0   0.0         2      4         0.4        0
2         1       3    1  1.0   0.0         0      2         0.0        1

<br>

## 2. Devide dataframe into X & Y -> Train X / Test X / Train Y / Test Y

In [4]:
titanic_target = titanic_df[['Survived']].copy()
titanic_data = titanic_df.copy()

del titanic_data['Survived']

In [5]:
from sklearn import model_selection

In [6]:
train_data, test_data, train_label, test_label = model_selection.train_test_split(titanic_data, titanic_target,
                                                                                 test_size=0.3,
                                                                                 random_state=0)
print(train_data.shape)
print(test_data.shape)
print(train_label.shape)
print(test_label.shape)

(623, 8)
(268, 8)
(623, 1)
(268, 1)

<br>

## 3. Change normal labels to one-hot labels

In [7]:
train_label[:5]

     Survived
857         1
52          1
386         0
124         0
578         0

In [8]:
from tensorflow.keras import utils

train_label = utils.to_categorical(train_label) # 0 or 1 -> one-hot vector
test_label = utils.to_categorical(test_label) # 0 or 1 -> one-hot vector

print(train_label.shape) # 모양을 영어로?
print(test_label.shape) # 모양을 영어로?

# from sklearn import preprocessing
# enc = preprocessing.OneHotEncoder(categories='auto') # Apply 'One-hot encoding' on labels (Single integer to One-hot vector)
# train_label = enc.fit_transform(train_label).toarray()
# test_label = enc.fit_transform(test_label).toarray()

(623, 2)
(268, 2)

In [9]:
train_label

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

<br>

## 4. Build & Train the model

In [10]:
import tensorflow as tf

# tf.keras 에 필요한 함수들이 모여있습니다.
from tensorflow.keras import datasets, utils
from tensorflow.keras import models, layers, activations, initializers, losses, optimizers, metrics

In [11]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2' # https://stackoverflow.com/questions/35911252/disable-tensorflow-debugging-information

In [21]:
titanic_data.cvo

(891, 8)

In [12]:
model = models.Sequential() # Build up the "Sequence" of layers (Linear stack of layers)

# Dense-layer (with he-initialization)
model.add(layers.Dense(input_dim=len(titanic_data.columns), units=256, activation=None, kernel_initializer=initializers.he_uniform())) # he-uniform initialization
# model.add(layers.BatchNormalization()) # Use this line as if needed
model.add(layers.Activation('elu')) # elu or relu (or layers.ELU / layers.LeakyReLU)

model.add(layers.Dense(units=512, activation=None, kernel_initializer=initializers.he_uniform())) 
model.add(layers.Activation('elu')) 

model.add(layers.Dense(units=512, activation=None, kernel_initializer=initializers.he_uniform())) 
model.add(layers.Activation('elu'))

model.add(layers.Dense(units=256, activation=None, kernel_initializer=initializers.he_uniform())) 
model.add(layers.Activation('elu')) 
model.add(layers.Dropout(rate=0.5)) # Dropout-layer

model.add(layers.Dense(units=2, activation='softmax')) # Apply softmax function on model's output

In [13]:
# "Compile" the model description (Configures the model for training)

model.compile(optimizer=optimizers.Adam(), # Please try the Adam-optimizer
              loss=losses.categorical_crossentropy, 
              metrics=[metrics.Recall(), metrics.Precision()]) # Precision / Recall / F1-Score 적용하기 @ https://j.mp/3cf3lbi

In [14]:
# tf.keras.callbacks.ModelCheckpoint(3-3)

In [15]:
train_data.shape

(623, 8)

In [20]:
train_label.shape

(623, 2)

In [16]:
# "Fit" the model on training data

history = model.fit(train_data, train_label, batch_size=100, epochs=20, validation_split=0.3)

Epoch 1/20
5/5 [==============================] - 1s 68ms/step - loss: 3.3846 - recall: 0.5436 - precision: 0.5436 - val_loss: 1.6154 - val_recall: 0.6631 - val_precision: 0.6631
Epoch 2/20
5/5 [==============================] - 0s 9ms/step - loss: 1.9019 - recall: 0.7179 - precision: 0.7179 - val_loss: 0.5534 - val_recall: 0.7807 - val_precision: 0.7807
Epoch 3/20
5/5 [==============================] - 0s 8ms/step - loss: 1.1053 - recall: 0.6651 - precision: 0.6651 - val_loss: 0.6445 - val_recall: 0.7487 - val_precision: 0.7487
Epoch 4/20
5/5 [==============================] - 0s 9ms/step - loss: 0.7326 - recall: 0.7317 - precision: 0.7317 - val_loss: 0.4083 - val_recall: 0.8342 - val_precision: 0.8342
Epoch 5/20
5/5 [==============================] - 0s 9ms/step - loss: 0.7395 - recall: 0.7339 - precision: 0.7339 - val_loss: 0.5693 - val_recall: 0.7754 - val_precision: 0.7754
Epoch 6/20
5/5 [==============================] - 0s 9ms/step - loss: 0.6137 - recall: 0.7523 - precision: 0.7523 - val_loss: 0.4646 - val_recall: 0.8021 - val_precision: 0.8021
Epoch 7/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5729 - recall: 0.7890 - precision: 0.7890 - val_loss: 0.4806 - val_recall: 0.8128 - val_precision: 0.8128
Epoch 8/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5415 - recall: 0.8119 - precision: 0.8119 - val_loss: 0.5100 - val_recall: 0.8182 - val_precision: 0.8182
Epoch 9/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5706 - recall: 0.8028 - precision: 0.8028 - val_loss: 0.4552 - val_recall: 0.8182 - val_precision: 0.8182
Epoch 10/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5690 - recall: 0.7775 - precision: 0.7775 - val_loss: 0.5524 - val_recall: 0.7540 - val_precision: 0.7540
Epoch 11/20
5/5 [==============================] - 0s 9ms/step - loss: 0.5354 - recall: 0.7775 - precision: 0.7775 - val_loss: 0.4674 - val_recall: 0.8396 - val_precision: 0.8396
Epoch 12/20
5/5 [==============================] - 0s 8ms/step - loss: 0.6159 - recall: 0.7844 - precision: 0.7844 - val_loss: 0.5073 - val_recall: 0.8289 - val_precision: 0.8289
Epoch 13/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5635 - recall: 0.8119 - precision: 0.8119 - val_loss: 0.6093 - val_recall: 0.7968 - val_precision: 0.7968
Epoch 14/20
5/5 [==============================] - 0s 9ms/step - loss: 0.5465 - recall: 0.7959 - precision: 0.7959 - val_loss: 0.5046 - val_recall: 0.7914 - val_precision: 0.7914
Epoch 15/20
5/5 [==============================] - 0s 9ms/step - loss: 0.6115 - recall: 0.7317 - precision: 0.7317 - val_loss: 0.7057 - val_recall: 0.7166 - val_precision: 0.7166
Epoch 16/20
5/5 [==============================] - 0s 9ms/step - loss: 0.5858 - recall: 0.8050 - precision: 0.8050 - val_loss: 0.4396 - val_recall: 0.8396 - val_precision: 0.8396
Epoch 17/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5443 - recall: 0.8050 - precision: 0.8050 - val_loss: 0.5964 - val_recall: 0.7433 - val_precision: 0.7433
Epoch 18/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5847 - recall: 0.7844 - precision: 0.7844 - val_loss: 0.4577 - val_recall: 0.8075 - val_precision: 0.8075
Epoch 19/20
5/5 [==============================] - 0s 8ms/step - loss: 0.4924 - recall: 0.8326 - precision: 0.8326 - val_loss: 0.5768 - val_recall: 0.7914 - val_precision: 0.7914
Epoch 20/20
5/5 [==============================] - 0s 8ms/step - loss: 0.5365 - recall: 0.7913 - precision: 0.7913 - val_loss: 0.4556 - val_recall: 0.8128 - val_precision: 0.8128

In [17]:
# "Evaluate" the model on test data

result = model.evaluate(test_data, test_label)

print('loss (cross-entropy) :', result[0])
print('test accuracy :', result[1])

9/9 [==============================] - 0s 1ms/step - loss: 0.4506 - recall: 0.8172 - precision: 0.8172
loss (cross-entropy) : 0.45061469078063965
test accuracy : 0.8171641826629639

In [18]:
history.history.keys()

dict_keys(['loss', 'recall', 'precision', 'val_loss', 'val_recall', 'val_precision'])

In [19]:
acc = history.history['recall_1']
val_acc = history.history['val_recall_1']

x_len = np.arange(len(acc))

plt.plot(x_len, acc, marker='.', c='blue', label="Train-set Acc.")
plt.plot(x_len, val_acc, marker='.', c='red', label="Validation-set Acc.")

plt.legend(loc='lower right')
plt.grid()
plt.xlabel('epoch')
plt.ylabel('Accuracy')
plt.show()

KeyError: 'recall_1'

In [ ]:
history.history.keys()

In [ ]:
loss = history.history['recall_1']
val_loss = history.history['val_recall_1']

x_len = np.arange(len(acc))

plt.plot(x_len, loss, marker='.', c='blue', label="Train-set loss.")
plt.plot(x_len, val_loss, marker='.', c='red', label="Validation-set loss.")

plt.legend(loc='upper right')
plt.grid()
plt.xlabel('epoch')
plt.ylabel('Cross-entropy')
plt.show()

In [ ]:
# 'Predict' on test data

model.predict(test_data)

In [ ]:
np.argmax(model.predict(test_data), axis=1)

In [ ]:
sample_data = np.array([[3, 0, 0.0, 0.0, 1, 1, 2.0, 0]])

In [ ]:
# out_put layout의 확률 : 죽었을 확률/ 살았을 확률
model.predict(sample_data)

In [ ]:
np.argmax(model.predict(sample_data), axis=1)