In [4]:
%%timeit
x = 5
y = 7
if x > 5:
    x += 1
    y = 8

55.8 ns ± 0.486 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [9]:
%matplotlib

Using matplotlib backend: QtAgg

In [17]:
# getattr('a a b s' ,'split')
# hasattr('abd ', 'sum')

False

In [22]:
iter('test')

def isiterable(obj):
    try:
        iter(obj)
        return True
    except:
        return False

x = 123

if not isinstance(x, list) and isiterable(x):
    x = list(x)

123

In [26]:
a = [1, 2, 3]

b = list(a)

c = a


a is b
# a == b

False

In [28]:
test = 'a\n\a\b'
test_r = r'a\n\a\b'


test

test_r

'a\\n\\a\\b'

In [29]:
template = '{0:.2f} {1:s} test {2:d}'
template.format(4.556, 'Argentine Persos', 1)

'4.56 Argentine Persos test 1'

In [36]:
val = 'espanol'
b = val.encode('utf-8')

# b.decode('utf-8')

b'espanol'

In [59]:
# import pandas as pd

# video_df = pd.read_csv('../../coper-project/data/침착맨_videos.csv', encoding='utf-8' , engine='python')

my_name = 'my name is tester'
tup_name = tuple(my_name)


t = [[1, 2, 3]]


tuple_test = tuple(t) * 4


# tuple_test[0] is tuple_test[1]

# tuple_test[0] is tuple_test[2]

# tuple_test[0] is tuple_test[3]

tuple_test[0].append(4)

tuple_test

([1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4])

In [87]:
key = 1, 2, 3, 4
value = 'a', 'b', 'c', 'd'

{k : v for k, v in zip(key, value)}



value = 1, 2, [3, 4]
key = 'a', 'b', 'c', 'd'

test = {k : v for k, v in zip(key, value)}

{'a': 1, 'b': 2, 'c': [3, 4, 5]}

In [ ]:
pitchars = [('Nolan', 'Pyan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_name, list_name = zip(*pitchars)

In [195]:
from collections import defaultdict

words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [231]:
tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

a = [x for tup in tuples for x in tup]

dicts = [{'1' : 1, '2' : 2, '3' : 3}, {'5' : 6, '고양이' : '야옹'}, {'강아지' : '멍멍'}]


test = {k : v for value in dicts for k, v in value.items()}



numbers = [['1', '2', '4'], ['5', '6', '8'], ['3', '9', '0', '4']]


x = [x for number in numbers for x in number]

x

['1', '2', '4', '5', '6', '8', '3', '9', '0', '4']

In [264]:
tup = (1, 2, 3, 5, 6, 7, 8)
*x, y, z = tup
# result x : [1, 2, 3, 4, 5, 6], y : 7, z : 8
print(f'x : {x}, y : {y}, z : {z}')

x : [1, 2, 3, 5, 6], y : 7, z : 8

In [277]:
import re
def remove_punctuation(value):
    return re.sub('[!?#@^0-9]', '', value)

ops = [str.strip, str.title, remove_punctuation]


def clean_text(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result


text = ['qweasda', 'ewqewqe#!', 'ewqeqe0ldasd', '3eee2adas89', '4#!@adasdasd']
clean_text(text, ops)

['Qweasda', 'Ewqewqe', 'EwqeqeLdasd', 'EeeAdas', 'Adasdasd']

In [296]:
# def add_numbers(x, y):
#     return x + y

# add_five = lambda y : add_numbers(5, y)

# for i in range(1, 6):
#     number = add_five(i)
#     print(number)
    
from functools import partial
add_five = partial(add_numbers, 5)

for i in range(1, 6):
    number = add_five(i)
    print(number)

6
7
8
9
10

In [303]:
some_dict = {'a' : 1, 'b' : 2, 'c' : 23}

dict_iterator = iter(some_dict)

list(dict_iterator)

def squares(n=10):
    print('Generating squares from 1 to {0}.'.format(n ** 2))
    for i in range(1, n+1):
        yield i ** 2
        
gen = squares()

    
my_list = [i for i in gen]
my_list

Generating squares from 1 to 100.

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [307]:
new_gen = (i ** 2 for i in range(10))

sum(x ** 2 for i in range(10))

100000

In [319]:
import itertools

first_text = lambda x : x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

# for text, names in itertools.groupby(names, first_text):
#     print(text, list(names))



# 6가지
numbers = [1, 2, 3, 4]

# 3가지
numbers = [1, 2, 3]
for text, numbers in itertools.combinations(numbers, 2):
    print(text, numbers)

1 2
1 3
2 3